<footer>
  <div
    class="list-style-none d-flex flex-wrap col-0 col-lg-2 flex-justify-start flex-lg-justify-between mb-2 mb-lg-0"
  >
    <div class="mt-2 mt-lg-0 d-flex flex-items-center">
      <a
        aria-label="Homepage"
        title="Big Fat Software, Inc."
        class="mr-2"
        href="/"
      >
        <svg
          aria-hidden="true"
          height="44"
          version="1.1"
          width="24"
          data-view-component="true"
          viewBox="0 0 200 200"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill="#FF0066"
            d="M50.2,-67.7C61.6,-60.8,65,-41.5,66.3,-24.6C67.7,-7.6,67,7,59.3,15.7C51.5,24.4,36.7,27.2,25.6,33C14.6,38.8,7.3,47.5,-1.9,50.1C-11,52.6,-22.1,49.1,-27.8,41.6C-33.5,34.1,-33.9,22.6,-31.5,14C-29.1,5.4,-24,-0.3,-27.6,-15.1C-31.3,-29.9,-43.8,-53.6,-40.6,-63.2C-37.5,-72.7,-18.8,-68,0.3,-68.5C19.4,-68.9,38.8,-74.6,50.2,-67.7Z"
            transform="translate(10 10)"
          />
        </svg>
      </a>
      <span> © 2023 Big Fat Software, Inc. </span>
    </div>
  </div>
  <h3
    class="sr-only"
    id="sr-footer-heading"
  >
    Footer navigation
  </h3>
  <ul
    class="list-style-none d-flex flex-wrap col-12 flex-justify-center flex-lg-justify-between mb-2 mb-lg-0"
    aria-labelledby="sr-footer-heading"
  >
    <li class="mr-3 mr-lg-0">
      <a href="/">Home</a>
    </li>
    <li class="mr-3 mr-lg-0">
      <a
        href="https://docs.github.com/site-policy/github-terms/github-terms-of-service"
        data-analytics-event='{"category":"Footer","action":"go to terms","label":"text:terms"}'
        >Terms</a
      >
    </li>
    <li class="mr-3 mr-lg-0">
      <a
        href="https://docs.github.com/site-policy/privacy-policies/github-privacy-statement"
        data-analytics-event='{"category":"Footer","action":"go to privacy","label":"text:privacy"}'
        >Privacy</a
      >
    </li>
    <li class="mr-3 mr-lg-0">
      <a
        data-analytics-event='{"category":"Footer","action":"go to security","label":"text:security"}'
        href="https://github.com/security"
        >Security</a
      >
    </li>
    <li class="mr-3 mr-lg-0">
      <a
        href="https://www.githubstatus.com/"
        data-analytics-event='{"category":"Footer","action":"go to status","label":"text:status"}'
        >Status</a
      >
    </li>
    <li class="mr-3 mr-lg-0">
      <a
        data-ga-click="Footer, go to help, text:Docs"
        href="https://docs.github.com"
        >Docs</a
      >
    </li>
    <li class="mr-3 mr-lg-0">
      <a
        href="https://support.github.com?tags=dotcom-footer"
        data-analytics-event='{"category":"Footer","action":"go to contact","label":"text:contact"}'
        >Contact GitHub</a
      >
    </li>
    <li class="mr-3 mr-lg-0">
      <a
        href="https://github.com/pricing"
        data-analytics-event='{"category":"Footer","action":"go to Pricing","label":"text:Pricing"}'
        >Pricing</a
      >
    </li>
    <li class="mr-3 mr-lg-0">
      <a
        href="https://docs.github.com"
        data-analytics-event='{"category":"Footer","action":"go to api","label":"text:api"}'
        >API</a
      >
    </li>
    <li class="mr-3 mr-lg-0">
      <a
        href="https://services.github.com"
        data-analytics-event='{"category":"Footer","action":"go to training","label":"text:training"}'
        >Training</a
      >
    </li>
    <li class="mr-3 mr-lg-0">
      <a
        href="https://github.blog"
        data-analytics-event='{"category":"Footer","action":"go to blog","label":"text:blog"}'
        >Blog</a
      >
    </li>
    <li>
      <a
        data-ga-click="Footer, go to about, text:about"
        href="https://github.com/about"
        >About</a
      >
    </li>
  </ul>
</footer>
